p{
    color: red;
    font-size: 20px;
    font-weight: bold;
    /* text-align: center;     */
    
}

.spaceAndBorder{
    padding: 10px;
    margin: 10px;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 20px;

    width: 20px;
    height: 20px;    
}

.patata{
    color: rgb(250, 143, 19);
}

.customClass{
    color: rgb(16, 149, 16);
    font-size: 14px;    
}



.links{
    color: rgb(16, 149, 16);
    font-size: 14px;
}

#myLink{
    color: blue;
}